body {
  background-color: #f3f3f3;
  font-family: canada-type-gibson;
}

main > .container {
  padding: 60px 15px 0;
}

.carCap {
  padding: 10px;
  margin: 0px 20px;
}

.carousel-caption {
  background-color: #00afefcc;
}

.footer {
  background-color: #dfdfdf;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.moc {
  padding: 0px 0px 0px 8px;
}

.startImage {
  height: 650px;
}

.logo {
  width: 140px;
}

.footer-logo {
  width: 35px;
}

.highlight-title {
  color: black;
}

code {
  font-size: 80%;
}

.dropbtn {
  border-radius: 15%;
}

.text-toogle[aria-expanded="false"] .bi-chevron-up {
  display: none;
}

.text-toogle[aria-expanded="true"] .bi-chevron-right {
  display: none;
}