body {
  background-color: #e5e5e5;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #dfdfdf;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.moc {
  padding: 0px 0px 0px 8px;
}

.startImage {
  height: 650px;
}

.logo {
  width: 140px;
}

.footer-logo {
  width: 35px;
}

.highlight-title {
  color: black;
}

code {
  font-size: 80%;
}
